In [ ]:
import pandas as pd
import datetime as dt

In [37]:
df = pd.read_csv("./data.csv")
df.head()

       <DATE>    <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0  01.09.2020  10:00:00  113442  115111  108072   110392     43
1  01.09.2020  10:01:00  112039  115127  108236   108851     35
2  01.09.2020  10:02:00  109658  115220  108046   109189     41
3  01.09.2020  10:03:00  111819  115172  107935   112804      7
4  01.09.2020  10:04:00  108579  115139  108027   109616     84

In [38]:
df['AVG'] = (df['<OPEN>'] + df['<HIGH>'] + df['<LOW>'] + df['<CLOSE>']) / 4
df["<DATE>"] = pd.to_datetime(df["<DATE>"], format="%d.%m.%Y")
df['TOTAL'] = df['AVG'] * df['<VOL>']

df.head()

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,AVG,TOTAL
0,2020-09-01,10:00:00,113442,115111,108072,110392,43,111754.25,4805432.75
1,2020-09-01,10:01:00,112039,115127,108236,108851,35,111063.25,3887213.75
2,2020-09-01,10:02:00,109658,115220,108046,109189,41,110528.25,4531658.25
3,2020-09-01,10:03:00,111819,115172,107935,112804,7,111932.50,783527.50
4,2020-09-01,10:04:00,108579,115139,108027,109616,84,110340.25,9268581.00

In [45]:
date = dt.datetime(2020, 11, 4)
df[(df["<DATE>"] == date) & (df["<TIME>"] == "10:16:00")]

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,AVG,TOTAL
27393,2020-11-04,10:16:00,108723,115275,107915,113069,22,111245.5,2447401.0

In [40]:
date = dt.datetime(2020, 9, 15)
df[(df["<DATE>"] == date) & (df["<TIME>"] == "14:20:00")]

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,AVG,TOTAL
6201,2020-09-15,14:20:00,110487,114987,108063,114919,22,112114.0,2466508.0

In [ ]:
date = dt.datetime(2020, 10, 1)
df[df["<DATE>"] == date]["TOTAL"].sum()

np.float64(3340929396.75)

In [ ]:
date = dt.datetime(2020, 12, 22)
df[(df["<DATE>"] == date) & (df["<OPEN>"] < df["<CLOSE>"])].shape[0]

305

In [ ]:
dates = pd.date_range(start="2020-11-01", end="2020-11-30", freq="W-THU")
df[df["<DATE>"].isin(dates)]["TOTAL"].sum()

np.float64(13059838111.25)