In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/pulsar_stars.csv')
df.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [5]:
first_filter = (df.TG == 0) & (df.MIP >= 84.3515625) & (df.MIP <= 85.5234375)
second_filter = (df.TG == 1) & (df.MIP >= 47.4140625) & (df.MIP <= 52.9296875)

df_filtered = df[first_filter | second_filter]

In [11]:
df_filtered.describe()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,67.552870,38.174643,2.024981,8.729185,22.138924,39.483170,5.975709,66.072150,0.500000
std,17.457916,6.849060,1.373479,7.954299,30.900010,24.632159,4.604505,96.047852,0.501242
min,47.414062,25.220056,0.416536,-0.814274,0.323579,8.296541,-0.896196,-1.822129,0.000000
25%,50.361328,34.035198,0.692889,2.008826,2.392768,17.367219,2.167972,3.671655,0.000000
50%,68.640625,36.997035,1.711373,4.511001,7.397575,32.254690,5.030700,25.979943,0.500000
75%,84.910156,40.829927,3.235904,15.013809,30.799540,60.156887,9.158345,100.390075,1.000000
max,85.523438,82.484021,4.655371,34.563199,163.015050,98.083452,27.527551,792.449262,1.000000